body{
  background-color: #002e4d;
}

a{
    color: #FC4A1A;
}

.center-navs{
  text-align: center;
}

.nav-pills {
  display: inline-block;
}

.nav-pills li.active a,
.nav-pills li.active a:hover{
    background-color: #FC4A1A;
}

.nav-pills li a:hover{
  background-color: #FC4A1A;
  color: white;
}

.jumbotron {
  background-color: #f2f2f2;
  text-align: center;
  color: #4d4d4d;

}

.dots {
  margin-top: 125px;
  margin-bottom: 125px;
  margin-left: 24%;
  padding: 0;
  border-radius: 50px;
  width: 30px;
  min-height: 30px;
  background-color: #f2f2f2;
}

.dots span {
  padding: 6px 0 0 5px;
  font-size: 1.2em;
  font-weight: bolder;
  color: #FC4A1A;
}

.solo_dot {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50%;
  padding: 0;
  border-radius: 50px;
  width: 50px;
  min-height: 50px;
  background-color: #f2f2f2;
}

.solo_dot span{
  padding: 12px 0 0 12px;
  font-size: 1.5em;
  font-weight: bolder;
  color: #FC4A1A;
}

.about-para {
  text-align: left;
}

.about-para {
  font-size: 14pt;
}

.contact-item {
  margin-left:15%;
  max-width: 350px;
  min-width: 350px;
}

.contact-item span{
  font-size: 18pt;
  color: #4d4d4d;
}

#home_header {
  text-align: center;
  background-color: #f2f2f2;
  color: #4d4d4d;
  margin-top: 150px;
  padding: 55px 0 65px 0;
}

#jumbo img{
  height: 50%;
  width: 80%;
}

#css_column{
  border-left: 1px solid #FC4A1A;
  border-right: 1px solid #FC4A1A;
}

#see_more{
  border-top: 1px solid #FC4A1A;
  padding-top: 50px;
}

#about h1{
  padding-bottom: 10px;
  border-bottom: 1px solid #FC4A1A;
}

#me-pic{
  float: left;
  height: 200px;
  width: 215px;
  border-right: 1px solid #FC4A1A;
  padding-right: 15px;
  margin-right: 10px;
}

#first-letter{
  font-size: 24pt;
}

#chevron {
  padding-top: 0px;
  font-size: 1.7em;
  margin-top: 0;
  font-weight: lighter;
}

#option{
  padding-left: 14px;
  padding-bottom: 0;
  margin-bottom: 0;
  float: inherit;
}

@media all and (max-width: 768px){
  #left-dot, #right-dot {
    visibility: hidden;
  }

  .dots {
    margin-left: 20%;
  }

  #see_more, #css_column {
    border: none;
  }

}
